body {
    display: block;
    margin: 0px;
	padding: 0px;
	background: #F7F7F7;

}

.root {
    width: 100%;
    height:100%;
	margin:0;
	padding: 0;
}

.root1 {
	width: 100%;
    height:100%;
	margin-top:200px;
	padding: 0;
	background: #F7F7F7;
}

.leftd{
    float:left;
    height: 100%;
    width: 25%;
    margin: 0px;
}

.rightd{
    height: 100%;
    width: 75%;
    margin: 0px;
}

.shan{
	border:1px solid #FC0;
 
	box-shadow:0 0 8px #DDD;
	-moz-box-shadow:0 0 8px #DDD;
	-webkit-box-shadow:0 0 8px #DDD;
}

/* 导航条 */
.topnav {
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	overflow: hidden;
	background-color: #333;
  }
  
  /* 导航链接 */
  .topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  /* 链接 - 修改颜色 */
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }

.field_label{
	font-size:16px;
	padding:0;
	font-weight: 700;
	display:inline-block;
}