body {
    display: block;
    margin: 0px;
	padding: 0px;
    background: #123456;
}

.root {
	margin:0;
	padding: 0;
    background:  #12345600;
}

.root1 {
	width: 100%;
	height:100%;
	margin:0;
	padding: 0;
	display: flex;
}

.show_msg{
	margin-top: 100px;
	margin-left: -10px;
	height: 100%;
	width: 30%;
	margin-right: 0;
	position:absolute;
}

.msg_hen{
	width: 100%;
	height: 50px; 
	display:inline-block; 
}

.svg_sty {
	margin-left:200px;
	margin-top: 100px;
	padding: 0;
	width: 70%;
}


.shan{
	border:1px solid #FC0;
 
	box-shadow:0 0 8px #DDD;
	-moz-box-shadow:0 0 8px #DDD;
	-webkit-box-shadow:0 0 8px #DDD;
}

/* 导航条 */
.topnav {
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	overflow: hidden;
	background-color: #333;
  }
  
  /* 导航链接 */
  .topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  /* 链接 - 修改颜色 */
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }

  .chartcss{
	position: relative;
    width: 400px;
    height: 400px;
  }

  table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
  td, th {
	border: 1px solid #dddddd;
	color:rgb(248, 241, 241);
	font-size:15px;
	text-align: left;
	padding: 6px;
  }
  
  tr:nth-child(even) {
	background-color: #123456;
  }