<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>位置流量趋势</title>
        <link rel="stylesheet" href="../static/css/jquery.datetimepicker.css">
        <link rel="stylesheet" href="../static/css/semantic.min.css">
        <link rel="stylesheet" href="../static/css/style.min.css">
        <link rel="stylesheet" href="../static/css/over.css">
    </head>
<body>
    <div class="ui fixed main menu header">
        <div class="container header_container">
            <div class="header_container_left">
                <a class="header_container_left_title" href="http://47.95.147.13:9999/homepage/">交通可视化</a>
                <a href="http://47.95.147.13:9999/homepage/" class="header_container_left_nav">首页</a>
                <a href="http://47.95.147.13:9999/overview/" class="header_container_left_nav">概述</a>
                <a href="http://47.95.147.13:9999/traffic_trend/" class="header_container_left_nav">位置流量趋势图</a>
                <a href="http://47.95.147.13:9999/heatmap/" class="header_container_left_nav">区域热力图</a>
                <a href="http://47.95.147.13:9999/api/" class="header_container_left_nav">数据接口</a>
            </div>
        </div>
        
        <div class="body" style="position:relative;height:500px;top:130px;overflow: auto;">
            <div class="main">
                <div>
                    <h1 align="center">交通可视化系统概述</h1>
                </div>

                <br><br>

                <div class="tu1">
                    <div class="photo_left"><img height="400" width="100%" src="../static/img/flyingline.png"></div>
                    <div class="intro_right" >
                        <h3>部分区域的人口迁徙情况可视化</h3>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;采用飞线图的方式展示一个区域到其他区域的人口迁徙情况，将区域间的人口流动情况可视化。
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </body>
</html>