<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <title></title>
    {% load static %}
    <script src="https://d3js.org/d3.v5.js"></script>
    <script type="text/javascript" src="../static/js/taxi_zones.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/sty.css">
    <link rel="stylesheet" type="text/css" href="../static/css/ten.css">
</head>

<body>
    <div class="root">
        <div class="topnav">
            <a href="http://47.95.147.13:9999/homepage/">叫什么名字呢</a>
            <a href="http://47.95.147.13:9999/homepage/">首页</a>
            <a href="http://47.95.147.13:9999/overview/">概述</a>
            <a href="http://47.95.147.13:9999/traffic_trend/">位置流量趋势图</a>
            <a href="http://47.95.147.13:9999/heatmap/">区域热力图</a>
            <a href="http://47.95.147.13:9999/api/">数据接口</a>
        </div>
        <div id = "tu" class="root1">
            <div class="left_d"></div>
            <div class="right_d">
                <div class="twelve wide column">
                    <h2 style="text-align:left">请选择您要查询的区域</h2><br>
                    <div class="inline field prov_field inline-block">
                        <label class="field_label">省份</label>&nbsp;&nbsp;
                        <select class="ui search selection dropdown" id="prov_select0"></select>
                    </div>&nbsp;&nbsp;
                    <div class="inline field city_field inline-block">
                        <label class="field_label">城市</label>&nbsp;&nbsp;
                        <select class="ui search selection dropdown" id="city_select0"></select>
                    </div><br>
                    <div class="inline field region_field inline-block">
                        <label class="field_label">区域</label>&nbsp;&nbsp;
                        <select class="ui search selection dropdown" id="region_select0"></select>
                    </div>
                    <div class="inline field">
                        <label class="field_label">时间</label>&nbsp;&nbsp; 
                        <input type="text" placeholder="年-月-日" class="datetimepicker field_input" id="date_begin">
                        <label class="field_label">&nbsp;&nbsp;至&nbsp;&nbsp;</label><input type="text" placeholder="年-月-日" class="datetimepicker field_input" id="date_end" name="date_end">
                    </div>
                    <div class="inline field"><label class="field_label">粒度</label>&nbsp;&nbsp;<select class="ui search selection dropdown w120" id="range_select0"></select>
                    </div>
                    <div class="inline field inline-block">
                        <label class="field_label opacity_0">确认</label>&nbsp;&nbsp;
                        <div class="ui blue button submit mytheme" id="location_submit" style="width:120px">查看数据
                        </div>
                    </div>
                </div>
            </div>
            



        </div>
    </div>
</body>
<script>
   

</script>
</html>