<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>位置流量趋势</title>
        {% load static %}
        <link rel="stylesheet" href="../static/css/jquery.datetimepicker.css">
        <link rel="stylesheet" href="../static/css/semantic.min.css">
        <link rel="stylesheet" href="../static/css/style.min.css">

        <link href="https://cdn.bootcss.com/jquery-datetimepicker/2.5.17/jquery.datetimepicker.min.css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/jquery-datetimepicker/2.5.17/jquery.datetimepicker.full.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/over.css">
    </head>
<body >
    <div class="ui fixed main menu header">
        <div class="container header_container">
            <div class="header_container_left">
                <a class="header_container_left_title" href="index.php">交通可视化</a>
                <a href="http://47.95.147.13:9999/homepage/" class="header_container_left_nav">首页</a>
                <a href="http://47.95.147.13:9999/overview/" class="header_container_left_nav">概述</a>
                <a href="http://47.95.147.13:9999/traffic_trend/" class="header_container_left_nav">位置流量趋势图</a>
                <a href="http://47.95.147.13:9999/heatmap/" class="header_container_left_nav">区域热力图</a>
                <a href="http://47.95.147.13:9999/api/" class="header_container_left_nav">数据接口</a>
            </div>
        </div>
        
        <div class="body" style="position:relative;height:600px;top:90px;overflow:auto;background:#f7f7f7;">
            <div class="main" >
                <div class="chaxunshow">
                    <div class="uptitile">
                    <h2 style="text-align:left">请选择您要查询的区域:</h2>
                    </div>
                    <select style="margin-left: 20px;"  id="region_select0">
                        <option value="170">美利山</option>
                        <option value="230">时代广场</option>
                        <option value="234">联合广场</option>
                    </select>
                    <button class="button-secondary pure-button" id="location_submit" style="margin-left: 20px;">查询</button>
                </div>

                <div class="weekshow">
                    <button id = "mon", class="button-success pure-button", style="margin-left: 10px;margin-right: 10px;">星期一</button>
                    <button id = "tues" class="button-success pure-button", style="margin-left: 10px;margin-right: 10px;">星期二</button>
                    <button id = "med" class="button-success pure-button", style="margin-left: 10px;margin-right: 10px;">星期三</button>
                    <button id = "thur" class="button-success pure-button", style="margin-left: 10px;margin-right: 10px;">星期四</button>
                    <button id = "fri" class="button-success pure-button", style="margin-left: 10px;margin-right: 10px;">星期五</button>
                    <button id = "sat" class="button-success pure-button", style="margin-left: 10px;margin-right: 10px;">星期六</button>
                    <button id = "sun" class="button-success pure-button", style="margin-left: 10px;margin-right: 10px;">星期日</button>
                </div>
                <div class="chartcss" id="chart" >
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </body>

<script>
var chartdata = [];
var ggdata = [];
function gen_chart(chartdata, ggdata, index){
    // 如果没有获取到数据，那么不绘图
    if (chartdata.length == 0 || ggdata.length == 0){
        return;
    }
    var ctx = document.getElementById('myChart');
    console.log(chartdata[index])
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [
            {
                label: '# of Votes',
                data: ggdata[index], //默认加载星期一 
                fillColor : "rgba(220,220,220,0)",
    　　　　　　　// 线的颜色
                strokeColor : "rgba(220,220,220,1)",
    　　　　　　　// 点的填充颜色
                pointColor : "rgba(220,220,220,1)",
    　　　　　　　　// 点的边线颜色
                pointStrokeColor : "#fff",
                borderWidth: 1
            },
            {
                label: '# of Votes',
                data: chartdata[index], //默认加载星期一 
                fillColor : "rgba(220,220,220,0)",
    　　　　　　　// 线的颜色
                strokeColor : "rgba(84 139 84,1)",
    　　　　　　　// 点的填充颜色
                pointColor : "rgba(220,220,220,1)",
    　　　　　　　　// 点的边线颜色
                pointStrokeColor : "#fff",
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true;
                        
                    }
                }],
                xAxes:[{
                    type: 'linear',
                    labels: ['0:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
                    beginAtZero: true,//是否从零开始
                    min: 0,
                    max: 24,
                    stepSize: 1,
                }]
            }
        }
    });
}

$('#location_submit').click(function(){
    var region = $('#region_select0').val();
    // var begindate = $('#date_begin').val();
    // var enddate = $('#date_end').val();
    // var range = $('#range_select0').val();
    // var oDate1 = new Date(begindate);
    // var oDate2 = new Date(enddate);
    // if (oDate1 < oDate2){
    //     console.log("right");
    // } else {
    //     console.log("cuowu");
    // }
    $.ajax({
        url: "http://47.95.147.13:9999/gen_index_data/",
        data: {'region':region},
        type: "POST",
        dataType: "json",
        success: function(data) {
            //window.location.href = 'http://47.95.147.13:9999/api';

            if (data.code == '100'){
                chartdata = data.data;
                ggdata = data.gdata;
                gen_chart(chartdata, ggdata, 0);
                
            } else if (data.code == 109){
                // 
            }
        } 
    });
    
})

$('#mon').click(function(){
    console.log("mon");
    gen_chart(chartdata, ggdata, 0);
})

$('#tues').click(function(){
    gen_chart(chartdata, ggdata, 1);
})

$('#med').click(function(){
    gen_chart(chartdata, ggdata, 2);
})

$('#thur').click(function(){
    gen_chart(chartdata, ggdata, 3);
})

$('#fri').click(function(){
    gen_chart(chartdata, ggdata, 4);
})

$('#sat').click(function(){
    gen_chart(chartdata, ggdata, 5);
})

$('#sun').click(function(){
    gen_chart(chartdata, ggdata, 6);
})

</script>
</html>


